body{
    font-family: 'Lato', sans-serif;
  }

  html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
    
    .site-bg {
    background: url("https://cutewallpaper.org/21/animated-wallpaper-gifs/Animated-Gif-Background-1920x1080-Free-Hd-Gif-Wallpapers-.gif") no-repeat center center fixed;
    }
    .pag1-bg {
    background: url("https://wallpapercave.com/wp/wp2757874.gif") no-repeat center center fixed;
    }
    .pag2-bg {
    background: url("https://cutewallpaper.org/21/1920-x-1080-gif/A-Sunset-Gif-I-made-1920x1080p-vaporwaveasthetics.gif") no-repeat center center fixed;
    }
    .pag3-bg {
      background: url("https://wallpaperaccess.com/full/2641063.gif") no-repeat center center fixed;
      }
      .pag4-bg {
        background: url("https://wallpaperaccess.com/full/14259.jpg") no-repeat center center fixed;
        }
        .pag5-bg {
          background: url("https://wallpaperaccess.com/full/2641088.gif") no-repeat center center fixed;
          }
          .pag6-bg {
            background: url("https://cutewallpaper.org/21/animated-wallpaper-gifs/Animated-Gif-Background-1920x1080-Free-Hd-Gif-Wallpapers-.gif") no-repeat center center fixed;
            }
            .pag7-bg {
              background: url("https://cutewallpaper.org/21/animated-wallpaper-gifs/Animated-Gif-Background-1920x1080-Free-Hd-Gif-Wallpapers-.gif") no-repeat center center fixed;
              }
              .pag8-bg {
                background: url("https://cutewallpaper.org/21/animated-wallpaper-gifs/Animated-Gif-Background-1920x1080-Free-Hd-Gif-Wallpapers-.gif") no-repeat center center fixed;
                }
                .pag9-bg {
                  background: url("https://cutewallpaper.org/21/animated-wallpaper-gifs/Animated-Gif-Background-1920x1080-Free-Hd-Gif-Wallpapers-.gif") no-repeat center center fixed;
                  }
                  .pag10-bg {
                    background: url("https://cutewallpaper.org/21/animated-wallpaper-gifs/Animated-Gif-Background-1920x1080-Free-Hd-Gif-Wallpapers-.gif") no-repeat center center fixed;
                    }
  
  .wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .link_wrapper{
    position: relative;
  }
  
  h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(61, 253, 2), rgb(0, 140, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@font-face {
    font-family: CocoGoose;
    src: url(font/Cocogoose\ Pro-trial.ttf);
  }

@font-face {
    font-family: CocoGooseLight;
    src: url(font/Cocogoose\ Pro\ Light-trial.ttf);
  }

img {
    border-radius: 10%;
  }


button {
    position: relative;
    font-family: inherit;
    font-size: 18px;
    border-radius: 40em;
    width: 8em;
    height: 3em;
    z-index: 1;
    color: white;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.18);
   }
   
   button .text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 3em;
    border: none;
    background: linear-gradient(rgba(255, 255, 255, 0.473), rgba(150, 150, 150, 0.25));
    z-index: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
   }
   
   button .blob {
    position: absolute;
    z-index: -1;
    border-radius: 5em;
    width: 5em;
    height: 3em;
    transition: transform .3s ease-in-out, background .3s ease-in-out;
   }
   
   button .blob:nth-child(2) {
    left: 0em;
    top: 0;
    background: #ff930f;
   }
   
   button .blob:nth-child(3) {
    left: 1.8em;
    top: 0;
    z-index: -1;
    background: #bf0fff;
   }
   
   button .blob:nth-child(4) {
    left: 4em;
    top: -1em;
    background: #ff1b6b;
   }
   
   button .blob:nth-child(5) {
    left: 4.3em;
    top: 1.6em;
    background: #0061ff;
   }
   
   button:hover .blob:nth-child(2) {
    background: #0061ff;
   }
   
   button:hover .blob:nth-child(3) {
    background: #ff1b6b;
   }
   
   button:hover .blob:nth-child(4) {
    background: #bf0fff;
   }
   
   button:hover .blob:nth-child(5) {
    background: #ff930f;
   }
   
   button:hover .blob {
    transform: scale(1.3);
   }
   
   button:active {
    border: 2px solid white;
   }
   
 
   
   
   